h1 {
    position: absolute;
    top: 0;
    background-color: #fb9300;
    text-align: center;
    width: 100%;
    padding: 5%;
    min-height: 55px;
    margin: 0;
    margin-bottom: 50px;
    min-width: 400px;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
#game-container {
    display: grid;
    width: 400px;
    height: 400px;
    background-color:#f54748;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);   
    
}

.game-cell {
    font-size: 100px;
    border: solid 2px black;
    text-align: center;
    padding-top: 10px;
    color:black ;
    
}

#game-info {
    margin-top: 40vmin;
    margin-bottom: 40px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border-radius:5%;
    background-color: #9eb6eb;
    border: 5;
    margin:16px;
    font-size: 25px;
    font-weight:545;
    width: 10rem;
}